a {
  text-decoration: none;
}

.facebookContainer {
  /* border: 1px solid red; */
  position: absolute;
  display: block;
  right: 0px;
  width: 50px;
  height: 50px;
  top: 150px;
}
.Facebook {
  color: rgba(66, 103, 178);
  position: absolute;
  z-index: 10;
  transform: scale(3.2);
  top: 18px;
  right: 19px;
}

.instagramContainer {
  position: absolute;
  display: block;
  right: 0px;
  width: 50px;
  height: 50px;
  top: 205px;
}

.Instagram {
  position: absolute;
  z-index: 10;
  transform: scale(3.2);
  top: 18px;
  right: 19px;
  color: rgb(131, 58, 180);
}
.linkedInContainer {
  position: absolute;
  display: block;
  right: 0px;
  width: 50px;
  height: 50px;
  top: 260px;
}

.LinkedIn {
  position: absolute;
  z-index: 10;
  transform: scale(3.2);
  top: 18px;
  right: 19px;
  color: rgb(40, 103, 178);
}

a:hover {
  color: rgb(204, 204, 204);
}
